
<h2><%= artist.name %></h2>
<ul>
  <li>Hometown: <%= artist.hometown %></li>
  <li><%= artist.nationality %></li>
  <li>Lifespan: <%= artist.birthday %> - <%= artist.birthday %></li>
  <li><%= artist.biography %></li>
  <li><%= artist.gender %></li>
  <li><%= artist.location %></li>
</ul>

<a href="/dashboard"></a>
<a href="/profile">Back to your profile</a>
