<div class="searchAll">
  <div class="search-block">
    <h1>  Results By Artist: </h1>
    <h2>
      <% results.forEach( result => { %>
          <% if(result.og_type == "artist") {%>
              <a href="<%=  Object.values(result._links.permalink)%>"> <%=  result.title %> </a>
              <button class="addFav">Send to favourites</button>
              <br></br>
              <% }%>
              <%}) %>
          </h2>
  </div>
  <hr>

  <div class="search-block">
    <h1> Results By Show: </h1>
    <h2>
    <% results.forEach( result => { %>
        <% if(result.og_type == "show") {%>
            <p> <%=  result.title %> </p>
            <a href="<%=  Object.values(result._links.permalink) %>">Click here</a>
            <% }%>
            <%}) %>
        </h2>
    </div>
    <hr>


    <div class="search-block">
      <h1> Results By City: </h1>
      <h2>
            <% results.forEach( result => { %>
                <% if(result.og_type == "city") {%>
                    <a href="<%=  Object.values(result._links.permalink)%>">
                        <%=  result.title %>
                    </p>
                    <a href="<%=  Object.values(result._links.permalink) %>">Click here</a>
            <% } %>
                <%}) %>
</h2>
    </div>
    <hr>

    <div class="search-block">
      <h1> Results By Article: </h1>
      <h2>
    <% results.forEach( result => { %>
        <% if(result.og_type == "article") {%>
            <a href="<%=  Object.values(result._links.permalink)%>">
                <%=  result.title %>
            </a>
            <br></br>
            <h4>
                <%=  result.description %>
            </h4>
            <a href="<%=  Object.values(result._links.permalink) %>">Click here</a>
            <% } %>
                <%}) %>
</h2>
    </div>

    <a href="/dashboard">Go to dashboard</a>
    <a href="/profile">Go to profile</a>

    <script type="text/javascript">
      var content = <%-JSON.stringify(results)%>;
      console.log(content)
    </script>
    <script type="text/javascript" src="/javascripts/saveArtist.js">
