<h2>
    <%= artwork.title %>
</h1>
<h2>
<p> <%= artwork.category %> </p>
<p> <%= artwork.medium %> </p>
<p> <%= artwork.date %> </p>
<img src="images/<%= artwork.image %>" alt="placeholder artwork"></img>
